@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* Con typeR declaramos las tipografias ya seleccionadas */

.typeR {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
}

.typeRmedium {
	font-weight: 600;
}

.typeRbold {
	font-weight: 700;
}

/* Con estas clases podemos declarar colores para luego utilizarlos. Ejemplo bgColorBlack (background-color) bgColorBlack. Sirve si ya tenemos los colores definidos que vamos a utilizar en nuestro sitio. "Aca no esta aplicado"*/

.bgColorBlack {
	background-color: #121212;
}

.bgColor {
	color: #121212;
}


.bgColorYellow {
	background-color: #E0FF00;
}

.bgYellow {
	color: #E0FF00;
}

.MV {
	background-color: #e6e6e6;
}

.todos {
	position: absolute;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	margin-top: 50%;
	bottom: 0;
	color: white;
}

.off {
	position: absolute;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	margin: 0;
	bottom: 0;
	color: white;
}

.abonando {
	position: absolute;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	margin: 0;
	bottom: 0;
	color: white;
}

.navbar-light {
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	margin-top: 0;
	height: 70px;
	padding: 20px;
	z-index: 100;
}

.navbar_titulo {
	font-size: 35px;
	font-family: Montserrat;
	font-weight: 600;
	color: #fffffe;
	text-decoration: none !important;
	transition-duration: 0, 1s;
}

.a {
	background-color: transparent;
}

.navbar-nav {
	width: 100%;
	margin-right: 0;
	display: flex;
	justify-content: flex-end;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item {
	color: #fffffe;
	font-family: Montserrat;
	font-weight: 400;
}

.navbar-nav .nav_secciones {
	margin-left: 15px;
	font-size: 20px;
	color: white;
	font-family: Montserrat;
	font-weight: 600;

}

.aros {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 650px;
	background-image: url(../img/aros5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.aros h5{
	align-items: center;
	position: absolute;
	font-size: 4rem;
	font-family: Montserrat;
	font-weight: 600;
	color: hsla(0, 0%, 100%, 0.705);
	color: white;
	text-shadow: 2px 2px 3px black;
}

.centro {
	width: 100%;
	height: 30px;
	margin: 0;
	display: flex;
	justify-content: center;
	color: #ffffff;
	font-size: 1rem;
	background-color: #000000;
	font-family: Montserrat;
	font-weight: 700;
}

.centro p {
	margin-top: 2px
}

.fotos10 {
	width: 100%;
	background-color: #e6e6e6;
	justify-content: center;
	align-content: center;
	display: grid;
	justify-self: center;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 175px;
	padding: 170px;

}

.fotos10 h6 {
	text-align: center;
	font-size: 1.6rem;
	font-family: Montserrat;
	font-weight: 400;
}

.fotos10 p {
	text-align: center;
	font-size: 1rem;
	font-family: Montserrat;
	font-weight: 700;
}

.fotos10 {
	align-items: center;
}


.galeria--fotos img {
	display: flex;
	width: 100%;
	height: 350px;
	margin-top: 10px;
	margin-bottom: auto;



}

.galeria--fotos:nth-child(1) {
	grid-row-start: span 2;
}

.galeria--fotos:nth-child(2) {
	grid-row-start: span 2;
}

.galeria--fotos:nth-child(3) {
	grid-row-start: span 2;
}

.galeria--fotos:nth-child(4) {
	grid-row-start: span 2;
}

.galeria--fotos:nth-child(5) {
	grid-row-start: span 2;
}

.galeria--fotos:nth-child(6) {
	grid-row-start: span 2;
}

.galeria--fotos {
	position: relative;
}

.galeria--titulos {
	width: 100%;
	margin: 0;
	font-family: Montserrat;
	font-weight: 600;
	position: absolute;
	bottom: 0;
	color: white;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7))
}

h3 {
	padding: 5px;
	text-align: center;
	font-size: 15px;
}

footer {
	width: 100%;
	background: #202020;
	color: white;

}

.container-footer-all {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px;
}

.container-footer {
	display: flex;
	justify-content: space-between;
	font-family: Montserrat;
	font-weight: 400;
}

.columna1 {
	width: 33%;
}

.columna1 h3 {
	font-size: 14px;
	font-family: Montserrat;
	font-weight: 400;
	text-align: center;
}

.columna1 p {
	font-size: 12px;
	margin-top: 20px;
	color: #c7c7c7;
}

.columna2 {
	width: 33%;
}

.columna2 h3 {
	font-size: 14px;
	text-align: center;
}

.row {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row img {
	width: 36px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin: 0;
}

.columna3 {
	width: 33%;
}

.columna3 h1 {
	font-size: 16px;
	text-align: center;
	font-family: Montserrat;
	font-weight: 400;
	padding: 5px;
}

.row2 {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.row2 label {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 10px;
	max-width: 140px;
	color: #c7c7c7;
	justify-content: center;
	text-align: center;
}

.container-pie {
	width: 100%;
	height: 30px;
	background: #101010;
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	color: #c7c7c7;
	font-family: Montserrat;
	font-weight: 600;
}

.derechos {
	font-size: 10px;
}