@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* Con typeR declaramos las tipografias ya seleccionadas */

.typeR {
	font-family: relaway, sans-serif;
	font-weight: 400;
}

.typeRmedium {
	font-weight: 500;
}

.typeRbold {
	font-weight: 700;
}

/* Con estas clases podemos declarar colores para luego utilizarlos. Ejemplo bgColorBlack (background-color) bgColorBlack. Sirve si ya tenemos los colores definidos que vamos a utilizar en nuestro sitio. "Aca no esta aplicado"*/

.bgColorBlack {
	background-color: #121212;
}

.bgColor {
	color: #121212;
}


.bgColorYellow {
	background-color: #E0FF00;
}

.bgYellow {
	color: #E0FF00;
}

body {
	background-color: #ffffe6;
}

.centro {
	width: 100%;
	height: 30px;
	margin: 0;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	color: #ffffff;
	font-size: 1rem;
	background-color: #000000;
	font-family: serif;
}

.cabecera {
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
	background-color: #ffe6b3;
	font-size: 10px;
}


.cabecera .logo {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.cabecera .logo img {
	width: 60px;
	height: 60px;
	border-radius: 100%;

}

.cabecera p {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-family: serif;
	margin-bottom: 15px;
}

.navbar{
	width: 100%;
	height: 30px;
	display: flex;
	background-color: rgb(241, 225, 133);
	
}
.nav-item {

	font-size: 1.2rem;
	padding-right: 6rem;
	padding-left: 6rem;
	font-family: serif;
	color: black;
	
}


.tendencias {
	width: 100%;
	height: 100px;
	margin-top: 20px;
	font-family: serif;
	font-weight: 400;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

}


.fotos10 {
	width: 100%;
	height: 400px;
	display: flex;
	margin: 5px;
	justify-content: center;
	align-items: center;

}




.fotos10 img {
	width: 300px;
	height: 300px;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 20px;
	border-radius: 10px;
	font-size: #0b0b0a;
}





h3 {
	padding: 5px;
	text-align: center;
	font-size: 15px;

	font-family: serif;
}



h2 {
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
	font-family: serif;
}




.logo2 {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;

}




.logo2 img {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
	padding: 0.25em 0.25em;
	transition: all 0.5s ease;

}



.descubrimas {
	width: 100%;
	height: 150px;
	display: flex;
	font-family: serif;
	font-size: 2rem;
	text-align: center;
	align-items: center;
	justify-content: center;

}



.contenedor {
	width: 100%;
	height: 900px;
	margin-bottom: 10px;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


}

.contenedor img {
	border-radius: 10px;
}

.contenedor .collar img {
	width: 350px;
	height: 350px;
	margin: 10PX;
}



.contenedor .anillo img {
	width: 350px;
	height: 350px;
	margin: 10PX;
}



.contenedor .cadenas img {
	width: 350px;
	height: 350px;
	margin: 10PX;
}




.contenedor .conjunto img {
	width: 300px;
	height: 300px;
	margin: 20PX;

}


.contenedor .aros img {
	width: 300px;
	height: 300px;
	margin: 20PX;


}



.contenedor img {
	display: flex;
	flex-wrap: wrap;
	width: 150px;
	height: 150px;
	transition: all 0.8s ease;

}

.contenedor img:hover {
	transform: scale(0.9);

}


/*Secccion Collares*/

.titulo {
	width: 100%;
	height: 150px;
	display: table;
	text-align: center;
	margin: auto;
	background-color: #ecdcb3;
}

.titulo h3 {
	text-align: center;
	font-size: 5rem;
	vertical-align: middle;
	display: table-cell;
}

/*Estilos de la galeria*/

.galeria-container {
	width: 100%;
	height: auto;
	display: flex;


}

.galeria--item {
	width: 33.33%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
	position: relative;
}


.galeria--item img {
	width: 300px;
	height: 300px;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px;
	margin: 5px;
	border-radius: 5%;
}


.galeria--titulo {
	position: absolute;
	bottom: 0;
	color: white;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
	width: auto;
	margin: 0;
	padding: 10px;
}

/*Seccion Productos*/

.titulo {
	width: 100%;
	height: 150px;
	display: table;
	text-align: center;
	margin: auto;
	background-color: #f0f7f7;
}

.titulo h3 {
	text-align: center;
	font-size: 4rem;
	vertical-align: middle;
	display: table-cell;
}

/*Estilos de la galeria*/

.galeria-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;

}

.galeria--item {
	width: 25%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-content: center;
	position: relative;
}

.galeria--item img {
	width: 300px;
	height: 300px;
	padding: 0;
}

.galeria--titulo {
	position: absolute;
	bottom: 0;
	color: white;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
	width: 50%;
	margin: 0;
	padding: 10px;
}

/*Seccion Cadena*/



/*Seccion nosotros*/


.nosotros {
	width: 100%;
	height: auto;
	margin-top: 30px;

}


.img-nosotros {
	width: 100%;


}

.img-nosotros img {
	width: 400px;
	height: 400px;
	border-radius: 5%;
	margin: auto;
}


.texto-nosotros hr {
	width: 100px;
	height: 10px;
	margin: auto;
	border-style: none;
	background: -moz- linear-gradient(left, red, blue, #fad7a0);
	margin-top: 20px;
	font-weight: 100;
	text-align: center;

}

.texto-nosotros {
	width: 100%;
	display: flex;

}

.bien h1 {
	width: 100%;
	height: 80px;
	margin: auto;
	margin-top: 30px;
	font-size: 50px;
	text-align: center;
}

.grid-container {

	display: grid;
	height: 350px;
	grid-template-columns: auto auto auto;



}

.grid-container div {
	margin: 20px;

}

.primero {

	align-content: center;

}

.primero p {
	font-size: 1em;
	padding: 20px;
	color: #977478;
}

.segundo {
	grid-area: 1/2/3/4;

}

.tercero {
	align-content: center;

}

.tercero p {
	font-size: 1em;
	margin-top: 10px;
	padding: 20px;
	color: #977478;
}

.inicio {
	margin: auto;
	width: 100px;
	height: auto;
	padding: 5px;
	border: 1px solid #0d0c0c;
	border-radius: 5px;
	margin-bottom: 20px;
}


.nosotros .inicio a {
	margin: 50%;
	font-size: 1em;
	margin: auto;
	text-decoration: none;
	color: #616363;
}

#boton {
	background: #31384A;
	color: #fff;
	padding: 10px;
}

#boton:hover {
	cursor: pointer;
}

.cadena {
	height: 75vh;
	background-image: url(../img/anillo5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.encabezado {
	font-family: serif;
	font-weight: 400px;
	color: #EF8D37;
	font-size: 1.2rem;
}







.pie {
	margin: auto;
	background-color: #ffe6ff;
	width: 100%;
	height: 200px;
}

table {

	text-align: center;
	width: 100%;
}

th,
td {
	padding: 10px;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
	background-color: #fff;
}

.my-float {
	margin-top: 16px;
}