@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* Con typeR declaramos las tipografias ya seleccionadas */

.typeR {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
}

.typeRmedium {
	font-weight: 600;
}

.typeRbold {
	font-weight: 700;
}

/* Con estas clases podemos declarar colores para luego utilizarlos. Ejemplo bgColorBlack (background-color) bgColorBlack. Sirve si ya tenemos los colores definidos que vamos a utilizar en nuestro sitio. "Aca no esta aplicado"*/

.bgColorBlack {
	background-color: #121212;
}

.bgColor {
	color: #121212;
}


.bgColorYellow {
	background-color: #E0FF00;
}

.bgYellow {
	color: #E0FF00;
}

.MV {
	background-color: #e6e6e6;
}

.centro {
	width: 100%;
	height: 30px;
	margin: 0;
	display: flex;
	justify-content: center;
	color: #ffffff;
	font-size: 1rem;
	background-color: #000000;
	font-family: Montserrat;
	font-weight: 700;
}

.centro p {
	margin-top: 2px
}

.todos{
	position: absolute;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	margin-top: 50%;
	bottom: 0;
	color: white;
}

.off{
	position: absolute;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	margin: 0;
	bottom: 0;
	color: white;
}

.abonando{
	position: absolute;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	margin: 0;
	bottom: 0;
	color: white;
}

.navbar-light {
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	margin-top: 0;
	height: 70px;
	padding: 20px;
	z-index: 100;
}

.navbar_titulo {
	font-size: 35px;
	font-family: Montserrat;
	font-weight: 600;
	color: #fffffe;
	text-decoration: none !important;
	transition-duration: 0, 1s;
}

.a {
	background-color: transparent;
}

.navbar-nav {
	width: 100%;
	margin-right: 0;
	display: flex;
	justify-content: flex-end;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item {
	color: #fffffe;
	font-family: Montserrat;
	font-weight: 400;
}

.navbar-nav .nav_secciones {
	margin-left: 15px;
	font-size: 20px;
	color: white;
	font-family: Montserrat;
	font-weight: 600;

}

.cadena {
	display: flex; 
	height: 100vh;
	background-image: url(../img/anillo5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.categorias {
	width: 30%;
	height: 250px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.categorias .tendencias {
	font-size: 2rem;
	font-family: Montserrat;
	font-weight: 400;
}

.fotos10 {
	width: 100%;
	height: 690px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffffbb;
	justify-content: center;
	display: grid;
	justify-self: center;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 200px;
	padding: 20px;
	grid-gap: 20px
}

.galeria--fotos img {
	width: 100%;
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
	object-fit: cover;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
}

.galeria--fotos:nth-child(4) {
	grid-row-start: span 2;
}

.galeria--fotos:nth-child(2) {
	grid-column-start: span 2;
}

.galeria--fotos:nth-child(3) {
	grid-row-start: span 2;
}

.galeria--fotos:nth-child(7) {
	grid-column-start: span 2;
}

.galeria--fotos {
	position: relative;
}

.galeria--titulos {
	width: 100%;
	margin: 0;
	font-family: Montserrat;
	font-weight: 600;
	position: absolute;
	bottom: 0;
	color: white;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7))
}

h3 {
	padding: 5px;
	text-align: center;
	font-size: 15px;

}

.logo2 {
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.logo2 img {
	width: 140px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
	padding: 0.25em 0.25em;
	transition: all 0.5s ease;

}

.descubrimas {
	width: 30%;
	height: 100px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-family: Montserrat;
	font-weight: 400;
	text-align: center;


}

.contenedor {
	width: 100%;
	height: 550px;
	background-color: #ffffffbb;
	margin-top: 100px;
	display: grid;
	justify-self: center;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 200px;
	padding: 50px;
	grid-gap: 40px
}


.contenido img {
	width: 100%;
	height: 100%;
	margin-top: auto;
	margin-bottom: auto;
	object-fit: cover;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);

}

.contenido {
	display: flex;
	margin: 0;
	position: relative;
}

.joyeria{
	width: 100%;	
	margin: 0;
	font-size: 1.5rem;
	font-family: Montserrat;
	font-weight: 700;
	position: absolute;
	bottom: 0;
	color: white;
}

.contenido:nth-child(1) {
	grid-row-start: span 2;
}

.contenido:nth-child(3) {
	grid-row-start: span 2;
}

footer {
	width: 100%;
	background: #202020;
	color: white;

}

.container-footer-all {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px;
}

.container-footer {
	display: flex;
	justify-content: space-between;
	font-family: Montserrat;
	font-weight: 400;
}

.columna1 {
	width: 33%;
}

.columna1 h3 {
	font-size: 22px;
	font-family: Montserrat;
	font-weight: 400;
}

.columna1 p {
	font-size: 14px;
	margin-top: 20px;
	color: #c7c7c7;
}

.columna2 {
	width: 33%;
}

.columna2 h3 {
	font-size: 22px;
}

.row {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row img {
	width: 36px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin: 0;
}

.columna3 {
	width: 33%;
}

.columna3 h1 {
	font-size: 22px;
	text-align: center;
	font-family: Montserrat;
	font-weight: 400;
	padding: 5px;
}

.row2 {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.row2 label {
	font-size: 14px;
	margin-top: 5px;
	margin-left: 10px;
	max-width: 140px;
	color: #c7c7c7;
}

.container-pie {
	width: 100%;
	background: #101010;
	display: flex;
	padding: 10px;
	justify-content: center;
	color: #c7c7c7;
	font-family: Montserrat;
	font-weight: 600;
}