@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.typeR {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
}

.typeRmedium {
	font-weight: 600;
}

.typeRbold {
	font-weight: 700;
}

.bgColorBlack {
	background-color: #121212;
}

.bgColor {
	color: #121212;
}


.bgColorYellow {
	background-color: #E0FF00;
}

.bgYellow {
	color: #E0FF00;
}

.MV {
	width: 100%;
	height: 700px;
	background-image: url(../img/anillo1.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
}

@media all and (max-width: 411px) {
	.MV {
		width: 100%;
		height: 900px;
		background-size: 100vw 100vh;
		background-attachment: fixed;
	}
}

.navegador {
	width: 100%;
	height: 150px;
}

.abonando {
	position: absolute;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	margin: 0;
	bottom: 0;
	color: white;
}


.navbar-light {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	width: 100%;
	margin-top: 0;
	height: 70px;
	padding: 20px;
	z-index: 100;
}

.navbar_titulo {
	font-size: 35px;
	font-family: Montserrat;
	font-weight: 600;
	color: #fffffe;
	text-decoration: none !important;
	transition-duration: 0, 1s;
}

@media all and (max-width: 411px) {

	.navbar_titulo {
		font-size: 20px;
		justify-content: center;
		align-content: center;
		text-align: center;
	}
}

.navbar_titulo:hover {
	color: white;
}

.a {
	background-color: transparent;
}

.navbar-nav {
	width: 100%;
	margin-right: 0;
	display: flex;
	justify-content: flex-end;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item {
	color: #fffffe;
	font-family: Montserrat;
	font-weight: 400;
}

.navbar-nav .nav_secciones {
	margin-left: 15px;
	font-size: 20px;
	color: white;
	font-family: Montserrat;
	font-weight: 600;
}

@media all and (max-width: 411px) {
	.navbar-nav .nav_secciones {
		margin-left: 30px;
		font-size: 12px;
		color: white;
		font-family: Montserrat;
		font-weight: 600;
	}
}

.hablanos {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.hablanos p {
	font-size: 4rem;
	color: white;
	font-family: Montserrat;
	font-weight: 600;
	text-shadow: 2px 2px 3px black;
}

@media all and (max-width: 411px) {
	.hablanos p {
		font-size: 2.5rem;
	}
}


.formulario {
	display: flex;
	align-content: center;
	width: 100%;
	height: 800px;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

@media all and (max-width: 411px) {
	.formulario {
		width: 75%;
		height: 750px;
		margin-left: auto;
		margin-right: auto;
	}
}

form {
	width: 450px;
	height: 600px;
	margin: auto;
	margin-bottom: 20px;
	background: rgb(0, 0, 0, 0.0);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 15px;
	border-radius: 5px;
}


input,
textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
	background: white;
	color: black;
}

textarea {
	min-width: 100px;
	min-height: 200px;
	max-width: 100%;
}

#boton {
	background: white;
	color: black;
	padding: 10px;
}

#boton:hover {
	cursor: pointer;
}

footer {
	width: 100%;
	height: auto;
	background: #202020;
	color: white;

}

.container-footer-all {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 18px;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.container-footer-all {
		padding: 5px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.container-footer-all {
		padding: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.container-footer-all {
		padding: 15px;
	}
}

.container-footer {
	display: flex;
	text-align: center;
	justify-content: space-between;
	font-family: Montserrat;
	font-weight: 400;
}

.columna1 {
	width: 33%;

}

.columna1 h3 {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna1 h3 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna1 h3 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna1 h3 {
		font-size: 16px;
	}
}
.columna1 p {
	font-size: 12px;
	margin-top: 10px;
	color: #c7c7c7;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna1 p {
		font-size: 9px;

	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna1 p {
		font-size: 12px;

	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna1 p {
		font-size: 16px;

	}
}
.columna2 {
	width: 33%;

}

.columna2 h3 {
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna2 h3 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna2 h3 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna2 h3 {
		font-size: 16px;
	}
}

.row {
	margin-top: 12px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.row img {
	width: 34px;
	height: 34px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin: 0;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.row img {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.row img {
		width: 25px;
		height: 25px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.row img {
		width: 30px;
		height: 30px;
	}
}

.columna3 {
	width: 33%;
}

.columna3 h1 {
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
	padding: 5px;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna3 h1 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna3 h1 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna3 h1 {
		font-size: 16px;
	}
}


.row2 {
	display: flex;
	justify-content: center;
	text-align: center;
}

.row2 label {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 10px;
	max-width: 140px;
	color: #c7c7c7;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.row2 label{
		font-size: 9px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.row2 label {
		font-size: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.row2 label {
		font-size: 12px;
	}
}

.container-pie {
	width: 100%;
	height: 30px;
	background: #101010;
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	color: #c7c7c7;
	font-family: Montserrat;
	font-weight: 600;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.container-pie {
		height: 15px;
		padding: 5px;
	}
}


@media only screen and (min-width:576px) and (max-width:768px) {

	.container-pie {
		height: 18px;
		padding: 5px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.container-pie {
		height: 16px;
		padding: 5px;
	}
}

.derechos {
	font-size: 12px;
}


@media only screen and (min-width:320px) and (max-width:480px) {

	.derechos {
		font-size: 8px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.derechos {
		font-size: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.derechos {
		font-size: 11px;
	}
}