@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* Con typeR declaramos las tipografias ya seleccionadas */

.typeR {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
}

.typeRmedium {
	font-weight: 600;
}

.typeRbold {
	font-weight: 700;
}

/* Con estas clases podemos declarar colores para luego utilizarlos. Ejemplo bgColorBlack (background-color) bgColorBlack. Sirve si ya tenemos los colores definidos que vamos a utilizar en nuestro sitio. "Aca no esta aplicado"*/

.bgColorBlack {
	background-color: #121212;
}

.bgColor {
	color: #121212;
}


.bgColorYellow {
	background-color: #E0FF00;
}

.bgYellow {
	color: #E0FF00;
}

.MV {
	background-color: #e6e6e6;
}

.cadena {
	display: flex;
	height: 100vh;
	background-image: url(../img/anillo4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.todos {
	position: absolute;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	margin-top: 50%;
	bottom: 0;
	color: white;
}

.off {
	position: absolute;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	margin: 0;
	bottom: 0;
	color: white;
}

.abonando {
	position: absolute;
	font-size: 3rem;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	margin: 0;
	bottom: 0;
	color: white;
}

.navbar-light {
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	margin-top: 0;
	height: 70px;
	padding: 20px;
	z-index: 100;
}

.navbar_titulo {
	font-size: 35px;
	font-family: Montserrat;
	font-weight: 600;
	color: #fffffe;
	text-decoration: none !important;
	transition-duration: 0, 1s;
}

.a {
	background-color: transparent;
}

.navbar-nav {
	width: 100%;
	margin-right: 0;
	display: flex;
	justify-content: flex-end;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item {
	color: #fffffe;
	font-family: Montserrat;
	font-weight: 400;
}

.navbar-nav .nav_secciones {
	margin-left: 15px;
	font-size: 20px;
	color: white;
	font-family: Montserrat;
	font-weight: 600;
}

.cadena {
	display: flex;
	height: 100vh;
	background-image: url(../img/cadena10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.tarjeta-1 {
	background-color: #d9d9ff;
	width: 30%;
	height: 750px;
	padding: 10px;
	margin: 50px;
	font-family: serif;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.60);


}

.tarjeta-1 p {
	text-align: center;
	font-family: serif;
}

.tarjeta-1 img {
	width: 100%;
	height: 85%;
	margin: auto;
	object-fit: cover;
	justify-content: center;
}

.tarjeta-2 {
	background-color: #d9d9ff;
	width: 30%;
	height: 750px;
	padding: 10px;
	margin: 50px;
	font-family: serif;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.60)
}

.tarjeta-2 p {
	text-align: center;
	font-family: serif;
}

.tarjeta-2 img {
	width: 100%;
	height: 85%;
	margin: auto;
	object-fit: cover;
	justify-content: center;
}

.tarjeta-3 {
	background-color: #d9d9ff;
	width: 30%;
	height: 750px;
	padding: 10px;
	margin: 50px;
	font-family: serif;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.60)
}

.tarjeta-3 p {
	text-align: center;
	font-family: serif;
}

.tarjeta-3 img {
	width: 100%;
	height: 85%;

	object-fit: cover;
	justify-content: center;
}

.galeria-container {
	width: 100%;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;

}

.galeria--item {
	width: 50%;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
	position: relative;

}


.galeria--item img {
	width: 250px;
	height: 400px;
	padding: 0px;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.60)
}

.galeria--titulo {
	position: absolute;
	bottom: 0;
	color: #f7f2f2;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
	width: auto;
	font-family: serif;
	font-size: 1em;
	margin: 0;
	padding: 0px;
}

footer {
	width: 100%;
	background: #202020;
	color: white;

}

.container-footer-all {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px;
}

.container-footer {
	display: flex;
	justify-content: space-between;
	font-family: Montserrat;
	font-weight: 400;
}

.columna1 {
	width: 33%;
}

.columna1 h3 {
	font-size: 22px;
	font-family: Montserrat;
	font-weight: 400;
}

.columna1 p {
	font-size: 14px;
	margin-top: 20px;
	color: #c7c7c7;
}

.columna2 {
	width: 33%;
}

.columna2 h3 {
	font-size: 22px;
}

.row {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row img {
	width: 36px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin: 0;
}

.columna3 {
	width: 33%;
}

.columna3 h1 {
	font-size: 22px;
	text-align: center;
	font-family: Montserrat;
	font-weight: 400;
	padding: 5px;
}

.row2 {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.row2 label {
	font-size: 14px;
	margin-top: 5px;
	margin-left: 10px;
	max-width: 140px;
	color: #c7c7c7;
}

.container-pie {
	width: 100%;
	background: #101010;
	display: flex;
	padding: 10px;
	justify-content: center;
	color: #c7c7c7;
	font-family: Montserrat;
	font-weight: 600;
}