@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* Con typeR declaramos las tipografias ya seleccionadas */

.typeR {
	font-family: relaway, sans-serif;
	font-weight: 400;
}

.typeRmedium {
	font-weight: 500;
}

.typeRbold {
	font-weight: 700;
}

/* Con estas clases podemos declarar colores para luego utilizarlos. Ejemplo bgColorBlack (background-color) bgColorBlack. Sirve si ya tenemos los colores definidos que vamos a utilizar en nuestro sitio. "Aca no esta aplicado"*/

.bgColorBlack {
	background-color: #121212;
}

.bgColor {
	color: #121212;
}


.bgColorYellow {
	background-color: #E0FF00;
}

.bgYellow {
	color: #E0FF00;
}

body {
	background-color: #ffffe6;
}

.centro {
	width: 100%;
	height: 30px;
	margin: 0;
	display: flex;
	justify-content: center;
	margin-top: 5px;
	color: #ffffff;
	font-size: 1rem;
	background-color: #000000;
	font-family: serif;
}

.cabecera {
	width: 100%;
	height: 170px;
	display: flex;
	justify-content: center;
	background-color: #ffe6b3;
	font-size: 10px;

}


.cabecera .logo {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.cabecera .logo img {
	width: 100px;
	height: 60px;
	width: 90px;
	height: 90px;
	border-radius: 100%;

}

.cabecera p {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-family: serif;
	margin-bottom: 15px;
}


.nav-item {

	padding-right: 6rem;
	padding-left: 6rem;
	font-family: serif;
	color: black;
}


.titulo {
	width: 100%;
	height: 150px;
	display: table;
	text-align: center;
	margin: auto;
	background-color: #f0f7f7;
}

.titulo h3 {
	text-align: center;
	font-size: 4rem;
	vertical-align: middle;
	display: table-cell;
}

/*Estilos de la galeria*/

.galeria-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;

}

.galeria--item {
	width: 50%;
	height: 350px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-content: center;
	position: relative;

}

.galeria--item img {
	width: 350px;
	height: 350px;
	border-radius: 5px;
}

.galeria--titulo {
	position: absolute;
	bottom: 0;
	color: white;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0));
	width: auto;
	margin: 0;
	padding: 10px;
}

.pie {
	margin: auto;
	background-color: #ffe6ff;
	width: 100%;
	height: 200px;
}

table {

	text-align: center;
	width: 100%;
}


td {
	padding: 10px;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
	background-color: #fff;
}

.my-float {
	margin-top: 16px;
}