@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.typeR {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
}

.typeRmedium {
	font-weight: 600;
}

.typeRbold {
	font-weight: 700;
}

.bgColorBlack {
	background-color: #121212;
}

.bgColor {
	color: #121212;
}


.bgColorYellow {
	background-color: #E0FF00;
}

.bgYellow {
	color: #E0FF00;
}

.MV {
	background-color: #e6e6e6;
}


.navbar-light {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	width: 100%;
	margin-top: 0;
	height: 70px;
	padding: 20px;
	z-index: 100;
}

.navbar_titulo {
	font-size: 35px;
	font-family: Montserrat;
	font-weight: 600;
	color: #fffffe;
	text-decoration: none !important;
	transition-duration: 0, 1s;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.navbar_titulo {
		font-size: 18px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.navbar_titulo {
		font-size: 25px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.navbar_titulo {
		font-size: 32px;
	}
}

.navbar_titulo:hover {
	color: white;
}

.a {
	background-color: transparent;
}

.navbar-nav {
	width: 100%;
	margin-right: 0;
	display: flex;
	justify-content: flex-end;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-item {
	color: #fffffe;
	font-family: Montserrat;
	font-weight: 600;
	z-index: 100;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.dropdown-item {
		font-weight: 600;
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.dropdown-item {
		font-weight: 600;
		font-size: 16px;

	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {
	.dropdown-item {
		font-weight: 600;
		font-size: 18px;
	}
}

.navbar-nav .nav_secciones {
	margin-left: 15px;
	font-size: 20px;
	color: white;
	font-family: Montserrat;
	font-weight: 600;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.navbar-nav .nav_secciones {
		font-size: 14px;
		text-shadow: 1px 1px 1px black;
		z-index: 100;

	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.navbar-nav .nav_secciones {
		font-size: 16px;
		text-shadow: 1px 1px 1px black;
		z-index: 100;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.navbar-nav .nav_secciones {
		font-size: 18px;
		text-shadow: 1px 1px 1px black;
		z-index: 100;
	}
}


.imgCentro {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 650px;
	background-image: url(../img/anillo1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.imgCentro {
		height: 250px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.imgCentro {
		height: 350px;
	}
}


@media only screen and (min-width:920px) and (max-width:1200px) {

	.imgCentro {
		height: 550px;
	}
}


.imgCentro h5 {
	align-items: center;
	position: absolute;
	font-size: 4rem;
	font-family: Montserrat;
	font-weight: 600;
	color: white;
	text-shadow: 2px 2px 3px black;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.imgCentro h5 {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.imgCentro h5 {
		font-size: 2.5rem;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.imgCentro h5 {
		font-size: 3rem;
	}
}

.bien {
	width: 100%;
	text-align: center;
	align-items: center;
	height: 150px;
	display: flex;
	justify-content: center;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.bien {
		width: 90%;
		height: 90%;
		padding: 30px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.bien {
		width: 70%;
		height: 90%;
		padding: 50px;
		margin-left: auto;
		margin-right: auto;
	}
}


@media only screen and (min-width:920px) and (max-width:1200px) {
	.bien {
		width: 60%;
		height: 90%;
		padding: 80px;
		margin-left: auto;
		margin-right: auto;
	}
}

.bien h1 {
	color: rgba(12, 12, 12, 0.719);
	font-family: Montserrat;
	font-weight: 600;
	font-size: 3rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.89);

}

@media only screen and (min-width:320px) and (max-width:480px) {
	.bien h1 {

		font-size: 1.5rem;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.bien h1 {

		font-size: 2rem;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {
	.bien h1 {

		font-size: 2.5rem;
	}
}

.texto-nosotros {
	width: 50%;
	height: 450px;
	display: flex;
	text-align: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.texto-nosotros {
		width: 90%;
		height: 250px;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.texto-nosotros {
		width: 90%;
		height: 350px;
		margin-bottom: 20px;
	}
}

.texto-nosotros p {
	font-size: 1rem;
	font-family: Montserrat;
	font-weight: 600;
}

@media all and (max-width: 411px) {
	.texto-nosotros p {
		font-size: 11px;
		font-weight: 600;

	}
}

footer {
	width: 100%;
	height: auto;
	background: #202020;
	color: white;

}

.container-footer-all {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 18px;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.container-footer-all {
		padding: 5px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.container-footer-all {
		padding: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.container-footer-all {
		padding: 15px;
	}
}

.container-footer {
	display: flex;
	text-align: center;
	justify-content: space-between;
	font-family: Montserrat;
	font-weight: 400;
}

.columna1 {
	width: 33%;

}

.columna1 h3 {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna1 h3 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna1 h3 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna1 h3 {
		font-size: 16px;
	}
}

.columna1 p {
	font-size: 12px;
	margin-top: 10px;
	color: #c7c7c7;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna1 p {
		font-size: 9px;

	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna1 p {
		font-size: 12px;

	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna1 p {
		font-size: 16px;

	}
}

.columna2 {
	width: 33%;

}

.columna2 h3 {
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna2 h3 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna2 h3 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna2 h3 {
		font-size: 16px;
	}
}

.row {
	margin-top: 12px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.row img {
	width: 34px;
	height: 34px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin: 0;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.row img {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.row img {
		width: 25px;
		height: 25px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.row img {
		width: 30px;
		height: 30px;
	}
}

.columna3 {
	width: 33%;
}

.columna3 h1 {
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
	padding: 5px;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna3 h1 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna3 h1 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna3 h1 {
		font-size: 16px;
	}
}


.row2 {
	display: flex;
	justify-content: center;
	text-align: center;
}

.row2 label {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 10px;
	max-width: 140px;
	color: #c7c7c7;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.row2 label {
		font-size: 9px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.row2 label {
		font-size: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.row2 label {
		font-size: 12px;
	}
}

.container-pie {
	width: 100%;
	height: 30px;
	background: #101010;
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	color: #c7c7c7;
	font-family: Montserrat;
	font-weight: 600;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.container-pie {
		height: 15px;
		padding: 5px;
	}
}


@media only screen and (min-width:576px) and (max-width:768px) {

	.container-pie {
		height: 18px;
		padding: 5px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.container-pie {
		height: 16px;
		padding: 5px;
	}
}

.derechos {
	font-size: 12px;
}


@media only screen and (min-width:320px) and (max-width:480px) {

	.derechos {
		font-size: 8px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.derechos {
		font-size: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.derechos {
		font-size: 11px;
	}
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
	background-color: #fff;
}

.my-float {
	margin-top: 16px;
}