@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/* Con typeR declaramos las tipografias ya seleccionadas */

.typeR {
	font-family: relaway, sans-serif;
	font-weight: 400;
}

.typeRmedium {
	font-weight: 500;
}

.typeRbold {
	font-weight: 700;
}

/* Con estas clases podemos declarar colores para luego utilizarlos. Ejemplo bgColorBlack (background-color) bgColorBlack. Sirve si ya tenemos los colores definidos que vamos a utilizar en nuestro sitio. "Aca no esta aplicado"*/

.bgColorBlack {
	background-color: #121212;
}

.bgColor {
	color: #121212;
}


.bgColorYellow {
	background-color: #E0FF00;
}

.bgYellow {
	color: #E0FF00;
}

.MV {
	background-color: #e6e6e6;
}

.navbar-light {
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	margin-top: -30px;
	height: 70px;
	padding: 20px;
	z-index: 100;
}

.navbar_titulo {
	font-size: 35px;
	font-family: Montserrat;
	font-weight: 600;
	color: #fffffe;
	text-decoration: none !important;
	transition-duration: 0, 1s;
}

.a {
	background-color: transparent;
}

.navbar-nav {
	width: 100%;
	justify-content: flex-start;
	margin-right: 0;
	display: flex;
	justify-content: flex-end;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item {
	color: #fffffe;
	font-family: Montserrat;
	font-weight: 400;
}

.navbar-nav .nav_secciones {
	margin-left: 15px;
	font-size: 20px;
	color: white;
	font-family: Montserrat;
	font-weight: 600;
}

.nosotros {
	width: 100%;
	height: 1200px;
	align-content: center;
	margin-top: 150px;

}


.img-nosotros {
	width: 100%;
	display: flex;


}

.img-nosotros img {
	width: 400px;
	height: 400px;
	border-radius: 5px;
	margin: auto;
}


.texto-nosotros hr {
	width: 100px;
	height: 10px;
	margin: auto;
	border-style: none;
	background: -moz- linear-gradient(left, red, blue, #fad7a0);
	margin-top: 20px;
	font-weight: 100;
	text-align: center;

}

.texto-nosotros {
	width: 100%;
	height: 500px;
	display: flex;

}

.bien h1 {
	width: 100%;
	height: 80px;
	margin: auto;
	margin-top: 30px;
	font-size: 50px;
	text-align: center;
	font-family: serif;
}

.grid-container {

	display: grid;
	height: 350px;
	grid-template-columns: auto auto auto;



}

.grid-container div {
	margin: 20px;

}

.primero {

	align-content: center;

}

.primero p {
	font-size: 1em;
	padding: 20px;
	color: #977478;
}

.segundo {
	grid-area: 1/2/3/4;

}

.segundo img {
	width: 400px;
	height: 400px;
	border-radius: 5px;

}

.tercero {
	align-content: center;

}

.tercero p {
	font-size: 1em;
	margin-top: 10px;
	padding: 20px;
	color: #977478;
}

.inicio {
	margin: auto;
	width: 100px;
	height: 60px;
	padding: 5px;
	border: 1px solid #0d0c0c;
	border-radius: 5px;
	margin-bottom: 20px;
}


.inicio a {
	margin: 50%;
	font-size: 1em;
	margin: auto;
	text-decoration: none;
	color: #616363;
}

#boton {
	background: #31384A;
	color: #fff;
	padding: 10px;
}

#boton:hover {
	cursor: pointer;
}


.pie {
	margin: auto;
	background-color: #ffe6ff;
	width: 100%;
	height: 200px;
}

table {

	text-align: center;
	width: 100%;
}

th,
td {
	padding: 10px;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
	background-color: #fff;
}

.my-float {
	margin-top: 16px;
}