@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "encabezadoYpie";

.MV {
	width: 100%;
	height: 700px;
	background-image: url(../img/cadena10.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.MV {

		height: 500px;
		background-image: url(../img/conjunto4.jpg);

	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.MV {

		height: 600px;

	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {
	.MV {

		height: 700px;

	}
}
.navegador {
	width: 100%;
	height: 150px;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.navbar_titulo {
		font-size: 18px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.navbar_titulo {
		font-size: 25px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.navbar_titulo {
		font-size: 32px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.dropdown-item {
		font-weight: 600;
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.dropdown-item {
		font-weight: 600;
		font-size: 16px;

	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {
	.dropdown-item {
		font-weight: 600;
		font-size: 18px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.navbar-nav .nav_secciones {
		font-size: 14px;
		text-shadow: 1px 1px 1px black;
		z-index: 100;

	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.navbar-nav .nav_secciones {
		font-size: 16px;
		text-shadow: 1px 1px 1px black;
		z-index: 100;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.navbar-nav .nav_secciones {
		font-size: 18px;
		text-shadow: 1px 1px 1px black;
		z-index: 100;
	}
}

.hablanos {
	width: 100%;
	height: 80px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

}

.hablanos p {
	font-size: 3rem;
	color: white;
	font-family: Montserrat;
	font-weight: 600;
	text-shadow: 2px 2px 3px black;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.hablanos p {
		font-size: 2rem;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.hablanos p {
		font-size: 2.5rem;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.hablanos p {
		font-size: 3rem;
	}
}


.formulario {
	display: flex;
	align-content: center;
	width: 100%;
	height: 800px;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.formulario {
		width: 75%;
		height: 650px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.formulario {
		width: 85%;
		height: 750px;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.formulario {
		width: 95%;
		height: 750px;
		margin-left: auto;
		margin-right: auto;
	}
}

form {
	width: 450px;
	height: 600px;
	margin: auto;
	margin-bottom: 20px;
	background: rgb (0, 0, 0, 0.0);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 15px;
	border-radius: 5px;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	form {
		width: 350px;
		margin-bottom: 10px;
		padding: 5px 10px;
		margin-top: 10px;

	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	form {
		width: 450px;
		margin-bottom: 15px;
		padding: 8px 15px;
		margin-top: 10px;

	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {
	form {
		width: 450px;
		margin-bottom: 20px;
		padding: 10px 20px;
		margin-top: 15px;

	}
}

input,
textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 600;
	border: none;
	background: white;
	color: black;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	input,
	textarea {
		margin-bottom: 10px;
		padding: 3px;
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	input,
	textarea {
		margin-bottom: 15px;
		padding: 5px;
		font-size: 14px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	input,
	textarea {
		margin-bottom: 18px;
		padding: 6px;
		font-size: 16px;
	}
}

textarea {
	min-width: 100px;
	min-height: 200px;
	max-width: 100%;
}

#boton {
	background: white;
	color: black;
	padding: 10px;
}

#boton:hover {
	cursor: pointer;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.container-footer-all {
		padding: 5px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.container-footer-all {
		padding: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.container-footer-all {
		padding: 15px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna1 h3 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna1 h3 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna1 h3 {
		font-size: 16px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna1 p {
		font-size: 9px;

	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna1 p {
		font-size: 12px;

	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna1 p {
		font-size: 16px;

	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna2 h3 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna2 h3 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna2 h3 {
		font-size: 16px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.row img {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.row img {
		width: 25px;
		height: 25px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.row img {
		width: 30px;
		height: 30px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna3 h1 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna3 h1 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna3 h1 {
		font-size: 16px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.row2 label {
		font-size: 9px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.row2 label {
		font-size: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.row2 label {
		font-size: 12px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.container-pie {
		height: 15px;
		padding: 5px;
	}
}


@media only screen and (min-width:576px) and (max-width:768px) {

	.container-pie {
		height: 18px;
		padding: 5px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.container-pie {
		height: 16px;
		padding: 5px;
	}
}


@media only screen and (min-width:320px) and (max-width:480px) {

	.derechos {
		font-size: 8px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.derechos {
		font-size: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.derechos {
		font-size: 11px;
	}
}
