@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "encabezadoYpie";

.MV {
	background-color: #e6e6e6;
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.navbar_titulo {
		font-size: 18px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.navbar_titulo {
		font-size: 25px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.navbar_titulo {
		font-size: 32px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.dropdown-item {
		font-weight: 600;
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.dropdown-item {
		font-weight: 600;
		font-size: 16px;

	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {
	.dropdown-item {
		font-weight: 600;
		font-size: 18px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.navbar-nav .nav_secciones {
		font-size: 14px;
		text-shadow: 1px 1px 1px black;
		z-index: 100;

	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.navbar-nav .nav_secciones {
		font-size: 16px;
		text-shadow: 1px 1px 1px black;
		z-index: 100;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.navbar-nav .nav_secciones {
		font-size: 18px;
		text-shadow: 1px 1px 1px black;
		z-index: 100;
	}
}


.imgCentro {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 650px;
	background-image: url(../img/anillo1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.imgCentro {
		height: 250px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.imgCentro {
		height: 350px;
	}
}


@media only screen and (min-width:920px) and (max-width:1200px) {

	.imgCentro {
		height: 550px;
	}
}

.imgCentro h5 {
	align-items: center;
	position: absolute;
	font-size: 4rem;
	font-family: Montserrat;
	font-weight: 600;
	color: white;
	text-shadow: 2px 2px 3px black;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.imgCentro h5 {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.imgCentro h5 {
		font-size: 2.5rem;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.imgCentro h5 {
		font-size: 3rem;
	}
}

.bien {
	width: 100%;
	text-align: center;
	align-items: center;
	height: 150px;
	display: flex;
	justify-content: center;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.bien {
		width: 90%;
		height: 90%;
		padding: 30px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.bien {
		width: 70%;
		height: 90%;
		padding: 50px;
		margin-left: auto;
		margin-right: auto;
	}
}


@media only screen and (min-width:920px) and (max-width:1200px) {
	.bien {
		width: 60%;
		height: 90%;
		padding: 80px;
		margin-left: auto;
		margin-right: auto;
	}
}

.bien h1 {
	color: rgba(12, 12, 12, 0.719);
	font-family: Montserrat;
	font-weight: 600;
	font-size: 3rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.89);

}

@media only screen and (min-width:320px) and (max-width:480px) {
	.bien h1 {

		font-size: 1.5rem;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.bien h1 {

		font-size: 2rem;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {
	.bien h1 {

		font-size: 2.5rem;
	}
}

.texto-nosotros {
	width: 50%;
	height: 450px;
	display: flex;
	text-align: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

@media only screen and (min-width:320px) and (max-width:480px) {
	.texto-nosotros {
		width: 90%;
		height: 250px;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {
	.texto-nosotros {
		width: 90%;
		height: 350px;
		margin-bottom: 20px;
	}
}

.texto-nosotros p {
	font-size: 1rem;
	font-family: Montserrat;
	font-weight: 600;
}

@media all and (max-width: 411px) {
	.texto-nosotros p {
		font-size: 11px;
		font-weight: 600;

	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.container-footer-all {
		padding: 5px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.container-footer-all {
		padding: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.container-footer-all {
		padding: 15px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna1 h3 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna1 h3 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna1 h3 {
		font-size: 16px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna1 p {
		font-size: 9px;

	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna1 p {
		font-size: 12px;

	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna1 p {
		font-size: 16px;

	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna2 h3 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna2 h3 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna2 h3 {
		font-size: 16px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.row img {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.row img {
		width: 25px;
		height: 25px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.row img {
		width: 30px;
		height: 30px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.columna3 h1 {
		font-size: 12px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.columna3 h1 {
		font-size: 14px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.columna3 h1 {
		font-size: 16px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.row2 label {
		font-size: 9px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.row2 label {
		font-size: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.row2 label {
		font-size: 12px;
	}
}

@media only screen and (min-width:320px) and (max-width:480px) {

	.container-pie {
		height: 15px;
		padding: 5px;
	}
}


@media only screen and (min-width:576px) and (max-width:768px) {

	.container-pie {
		height: 18px;
		padding: 5px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.container-pie {
		height: 16px;
		padding: 5px;
	}
}


@media only screen and (min-width:320px) and (max-width:480px) {

	.derechos {
		font-size: 8px;
	}
}

@media only screen and (min-width:576px) and (max-width:768px) {

	.derechos {
		font-size: 10px;
	}
}

@media only screen and (min-width:920px) and (max-width:1200px) {

	.derechos {
		font-size: 11px;
	}
}
